<form [formGroup]="feedForm">
  <input type="text" formControlName="title" nbInput fullWidth placeholder="Título">
  <textarea type="text" formControlName="body" nbInput fullWidth placeholder="Cuerpo"></textarea>
  <input type="text" formControlName="publisher" nbInput fullWidth placeholder="Escrito por">
  <input type="text" formControlName="source" nbInput fullWidth placeholder="Url">

</form>
<nb-alert status="success" *ngIf="showEditSuccess">Se ha actualizado con éxito</nb-alert>
<div class="button-container">
  <button nbButton status="danger" (click)="delte()">Eliminar</button>
  <button nbButton status="primary" (click)="edit()">Editar</button>
</div>

