<nb-layout>
  <nb-layout-header>
      <h3>DailyTrends</h3>
      <button nbButton (click)="openNewFeed()">Añadir feed</button>
  </nb-layout-header>
  <nb-layout-column class="colored-column-danger">
    <app-feed-card *ngFor="let feed of elPaisFeeds" [feed]="feed" color='warning' (click)="editOrDelete(feed)">
    </app-feed-card>
  </nb-layout-column>
  <nb-layout-column class="colored-column-warning">
    <app-feed-card *ngFor="let feed of elMundoFeeds" [feed]="feed" (click)="editOrDelete(feed)">
    </app-feed-card>
  </nb-layout-column>
</nb-layout>
